<%- include('./partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/index.css" >
<title>49erHangout - Event</title>
<%- include('./partials/endHeader.ejs') %>

<main style="height: 70vh;">
    <div class="hero-div">
        <h1><%= error.status %> Error</h1>
        <p><%= error.message %></p>
    </div>
</main>

<%- include('./partials/footer.ejs') %>