<%- include('./partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/index.css" />
<title>49erHangout - Home</title>
<%- include('./partials/endHeader.ejs') %>

<main>
  <section id="hero">
    <div class="hero-div">
      <h1>Start a new adventure!</h1>
      <p>
        Welcome to 49ersHangout, a place where you can start or join an
        adventure.
      </p>
      <a href="/events/new" class="gold-anchor">New Event</a>
    </div>
  </section>

  <!-- join an upcoming event section? show 3 events ig -->
  <section class="events">
    <h2>Looking for an Event...?</h2>
    <div class="events-container">
      <% events.forEach(event => { %>
        <div class="event">
          <h3><%= event.events[0].title %></h3>
          <p>
            <%= event.events[0].details %>
          </p>
          <a href="/events/<%= event.events[0].id %>" class="event-anchor">More Info</a>
        </div>
      <% }) %>
    </div>
    <a href="/events" class="gold-anchor stretched">See All Events</a>
  </section>
</main>

<%- include('./partials/footer.ejs') %>
